@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Readex Pro", sans-serif;
	font-style: normal;
}
.header{
	background-color: rgba(0, 0, 0, 0);
}
body {
	height: 100vh;
	width: 100%;
	background: rgb(173,180,255);
	background: linear-gradient(137deg, rgba(173 213 255) 0%, rgb(255, 255, 255) 100%);
}
/*Estilos para el encabezado*/
.header{
	width: 100vw;
	height: 6rem;
	position: fixed;
	display: flex;
	padding: 0 5rem;
	align-items: center;
}
.logo{
	padding: auto;
	margin-left: 20px;
}
.logo a img {
	width: 180px;
}
.barra-busqueda {
	display: flex;
	width: 30vw;
	height: 35px;
}
.busqueda-lupita {
	height: 100%;
	width: 38px;
	background-color: white;
	border: none;
	padding: 5px 5px;
}
.busqueda-lupita i {
	font-size: 18px;
}
.busqueda{
	width: 90%;
	height: 100%;
	padding: 10px;
	border: none;
	font-size: 18px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/

.container-menu-nav{
	position: fixed;
	display: flex;
	width: 4rem;
	height: 97vh;
	margin: 10px 0 10px 10px;
	padding: 0 0 0 0;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 8px;
	z-index: 1;
}
.navbar {
	width: 80%;
	height: 97%;
	margin: auto;
	background-color: var(--orange);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 8px;
	background: rgb(255, 255, 255);
}
.navbar-up-nav {
	display: flex;
	flex-direction: column;
}
.nav-item {
	width: 100%;
	list-style: none;
}
.nav-link {
	display: flex;
	align-items: center;
	height: 3rem;
	color: var(--text-primary);
	text-decoration: none;
	margin: 0.2rem;
	border-radius: 8px;
}
.nav-link:hover  {
	background-color: rgb(231, 231, 231);
}
.link-text {
	display: none;
	margin-left: 1rem;
}
.nav-link i{
	margin: 0 auto;
	font-size: 1.2rem;
	color: rgb(16, 33, 37);
}
/*Fin de Menù lateral*/

/* Estilos seccion notificaciones */
.section-notificaciones {
	display: none;
}
.input-noticacion-entrenador {
	display: none;
}
#mostrarNotificacionEntrenador:checked ~ .section-notificaciones{
	position: absolute;
	top: 0;
	left: 5rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 30vw;
    height: 90vh;
    background-color: white; 
    padding: 10px; 
    font-size: 1rem;
	border-radius: 8px;
	z-index: 1;
	overflow-y: scroll;
}
.icon3 a{
    margin:8px;
}
/* .titulo{
    display: grid;
    grid-template-areas: "card1 card2 card3";
    grid-gap: 50px;
    margin: 10px;
} */
.title{
    font-size: 30px;
}
.content{
	height: 4rem;
    display: grid;
    grid-template-areas: "card1 card2 card3";
    grid-gap: 20px;
    font-size: 12px;
}
hr{
    width: 80vh;
}
.card0{
    align-items: baseline;
    justify-content:space-between ;
    grid-template-areas: "card1 card2 card3";
    grid-gap: 20px;
    /* margin: 10px; */
    color: black;
    display: flex;
}
a{
    text-decoration: none;  
    color: black;
}
.card1{
    grid-area: card1;
    display: flex;
    align-items: center;
    margin-left: 40px;
    color: #f58300;
    font-size: 1rem;
    margin-right: 10px;
}
.card2{
    grid-area: card2;
    align-items: center;
    margin-left: 10px;
}
.card2 h3{
    margin-right: 5px;
}
.card2 p{
    margin-right:5px;
}

.card3{
    display: flex;
    justify-content: center;
    grid-area: card3;
    align-items: center;
    margin: 10px;
}

.content:hover{
    background-color: #c5c5c5;
    cursor: pointer;
}


/* Estilos de la Seccion principal */

.main {
	position: fixed;	
	width: 100%;
	height: 100%;
	padding: 6rem 0 0 6rem;
	z-index: 0;
    border-radius: 8px;
}
.main-container {
	width: 98%;
	height: 95%;
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 20px;
}

.nombre-editar {
	display: flex;
	gap: 1rem;
	margin-top: 0.5rem;
}
.correo-editar{
	display: flex;
	gap: 1rem;
	margin-top: 0.5rem;
}
.main {
	padding-left: 6rem;
}

.article2 {
	width: 98%;
	height: auto;
	background-color: white;
    overflow-y: scroll;
}

.article2 .header-cuenta {
	height: 100px;
	font-size: 30px;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.article2 .perfil {
	display: flex;
	height: 300px;

}

.article2 .perfil .Fotos {
	display: flex;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	justify-content: space-around;
}

.article2 .perfil .Fotos i {
	border-radius: 50%;
	border: solid black;
	padding: 50px;
	font-size: 100px;
}

.article2 .perfil>section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	width: 50%;
	padding-left: 50px;
	justify-content: center;
}

.article2 .perfil>section aside {
	margin-bottom: 20px;
	width: 90%;
}

.article2 .perfil>section aside input {
	border: 0;
	background-color: rgb(181, 181, 181);
	width: 80%;
	height: 40px;
	margin-right: 20px;
	padding-left: 15px;
}
.article2 .perfil>section aside input:hover {
	background-color: orangered;
	color: white;
	transition: 1s ;
}

.article2 .lenguaje h3 {
font-size: 30px;
}
.article2 .lenguaje {

	height: 300px;
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	justify-content: space-around;
}

.article2 .lenguaje button {
	width: 30%;
	height: 40px;
	border: 0;
	background-color: rgb(181, 181, 181);
	font-size: 25px;
}
.article2 .lenguaje button:hover {
	background-color: orangered;
	color: white;
	transition: 1s ;
}

.article2 .tema {

	height: 200px;
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	justify-content: space-around;

}

.article2 .tema>div {
	display: flex;
	justify-content: flex-start;
	gap: 50px;
}

.article2 .tema .header-tema {
	font-size: 30px;
}

.article2 .tema>div .color {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.article2 .seguridad {
	height: 200px;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.article2 .seguridad .header_seguridad {
	font-size: 30px;
}

.article2 .seguridad .seson {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.article2 .seguridad .seson button {
	width: 30%;
	height: 40px;
	border: none;
	background-color: rgb(203, 203, 203);
	font-size: 15px;
}
.article2 .seguridad .seson button:hover {
	background-color: orangered;
	color: white;
	transition: 1s ;
}

.article2 .descargas {

	height: 200px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-around;
	padding-left: 50px;

}

.article2 .descargas button {
	width: 20%;
	height: 40px;
	border: 0;
	background-color: #fff;
	font-size: 30px;
}
.article2 .descargas button:hover {
	background-color: orangered;
	color: white;
	transition: 1s ;
}

.article2 .descargas p {
	border: 0;
	font-size: 30px;
	
}
.article2 .eliminar-cuenta {

	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 50px;
}
.article2 .eliminar-cuenta h5 {
	font-size: 30px;
}
.article2 .eliminar-cuenta p{
	font-size: 30px;
}
.article2 .eliminar-cuenta button {
	font-size: 30px;
	width: 30%;
	border: 0;
}
.article2 .eliminar-cuenta button:hover {
	background-color: orangered;
	color: white;
	transition: 1s ;
}
.article2 .eliminar-cuenta .b1 {
	font-size: 30px;
	width: 90%;
	border: 0;
}
.article2 .eliminar-cuenta .b1:hover {
	background-color: orangered;
	color: white;
	transition: 1s ;
}
.article2 .linea{
	background-color: gray;
	height: 1px;
	width: 90%;
	margin-left: 50px;
}
.boton1 {
	display: flex;
	text-align: center;
	width: 200px;
	height: 15%;
	border: none;
	height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
	gap: 10px;
}

.boton1:hover {
	background-color: orangered;
	transition: 0.5s;
	color: white;
}

.select {
	background: linear-gradient(rgb(126, 126, 126), rgb(134, 134, 134));
}