@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

* {
  font-family: "Readex Pro", sans-serif;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: rgba(0, 0, 0, 0);

}

body {
	height: 99vh;
	width: 100%;
	background: rgb(173, 180, 255);
	background: linear-gradient(137deg, rgba(173, 180, 255, 1) 0%, rgba(255, 198, 132, 1) 100%);

}

/*Estilos para el encabezado*/
.header {
	width: 100%;
	height: 100px;
	display: flex;
}

.container {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 5rem;
}

.logo {
	padding: auto;
	margin-left: 20px;

}

.logo a img {
	width: 180px;
}

.barra-busqueda {
	display: flex;
	width: 30vw;
	height: 35px;
}

.busqueda-lupita {
	height: 100%;
	width: 38px;
	background-color: white;
	border: none;
	padding: 5px 5px;
}

.busqueda-lupita i {
	font-size: 18px;
}

.busqueda {
	width: 90%;
	height: 100%;
	padding: 10px;
	border: none;
	font-size: 18px;
}

/*Fin de Estilos para el encabezado*/

/*Menù lateral*/

.container-menu-nav {
	position: fixed;
    display: flex;
    width: 4%;
    height: 98vh;
    margin: 10px 0 10px 10px;
    padding: 0 0 0 0;
    background-color: rgba(171, 164, 164, 0.628);
    border-radius: 8px;
    top: 1px;
}

.navbar {
	width: 80%;
	height: 97%;
	margin: auto;
	background-color: var(--orange);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 8px;
	background: rgb(230, 230, 230);
}

.navbar-up-nav {
	display: flex;
	flex-direction: column;
}

.nav-item {
	width: 100%;
	list-style: none;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 4rem;
	color: var(--text-primary);
	text-decoration: none;
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-link i {
	margin: 0 auto;
	font-size: 1.2rem;
	color: rgb(16, 33, 37);
}

/*Fin de Menù lateral*/

.article1 {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	width: 20%;
	height: 66%;
	margin-right: 10px;
	/* padding-right: 5px; */
	border-right: 1px solid gray;
	gap: 10px;
}
.boton1 {
	display: flex;
	text-align: center;
	width: 200px;
	height: 15%;
	border: none;
	height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
	gap: 20px;
}
.boton1:hover {
	background-color: orangered;
	transition: 0.5s;
	color: white;
}
.select {
	background: linear-gradient(rgb(126, 126, 126), rgb(134, 134, 134));
}

.main {
	margin-top: -50px;
	display: flex;
	margin-left: 100px;
	width: 92%;
	height: 90%;

}
.content{
	margin-top: 50px;
    padding: 20px;
    width: 100%;
	background-color: rgb(197, 197, 197);
}
.content .contenedor2{
	margin-left: 150px;
	width: 70%;
	height: 85%;
	display: grid;
	grid-template-columns: repeat(2 ,1fr);
	padding: 10px;
	gap: 100px;
}
.content .contenedor2 .cuadro{
	border: solid 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 40px;
	font-weight: 600;
	background-color: gray;
}
#buscar {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    height: 40px;
    padding-left: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid  grey;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.nom{
    background-color: rgba(128, 128, 128, 0.322);
}
.estado{
    color: rgb(255, 68, 0);
    font-size: 20px;
    font-weight: 900;
}
.check{
    text-align: center;
}
/* .fa-solid{
    width: 100%;
    text-align: center;
} */